<div class="cast-card">
    <div class="card-img">
        <img src="{{imageUrl}}" alt="cast">
    </div>
    <div class="cast-info">
        <h1>{{name}}</h1>
        <h3>Age: {{age}}</h3>
        <h3>Born: {{born}}</h3>
        <h3>Name in Movie: {{nameInMovie}}</h3>
    </div>
</div>