<div class="flip flip-vertical">
    <div class="front">
        <img src="{{imageURL}}" alt="{{title}}">
    </div>
    <div class="back">
        <h1>{{title}}</h1>
        <h2>Genre: {{genre}}</h2>
        <p>Description: {{description}}</p>
        <a href="/details/{{_id}}" class="details">Details</a>
        {{#if isAuthor}}
        <a href="/attach/{{_id}}" class="details">Attach Cast</a>
        {{/if}}
    </div>
</div>