{{#if errors}}
<div class="error-container">
    <p>All fields are required!</p>
</div>
{{/if}}

<section id="edit-page">
    <div class="editSection">
        <div class="info-edit">
            <h2>"One ring to rule them all, one ring to find them, one ring to bring them all and in the darkness bind
                them."</h2>
        </div>

        <form method="post" class="editForm">
            <h2>Edit Post</h2>
            <ul class="noBullet">
                <li {{#if errors.title}}class="error"{{/if}}>
                    <label for="title">Title:</label>
                    <input type="text" class="inputFields" id="title" name="title" value="{{movie.title}}" />
                </li>
                <li {{#if errors.genre}}class="error"{{/if}}>
                    <label for="genre">Genre:</label>
                    <input type="text" class="inputFields" id="genre" name="genre" value="{{movie.genre}}" />
                </li>
                <li {{#if errors.director}}class="error"{{/if}}>
                    <label for="director">Director:</label>
                    <input type="text" class="inputFields" id="director" name="director" value="{{movie.director}}" />
                </li>
                <li {{#if errors.year}}class="error"{{/if}}>
                    <label for="date">Year:</label>
                    <input type="number" class="inputFields" id="year" name="year" value="{{movie.year}}" />
                </li>
                <li {{#if errors.imageURL}}class="error"{{/if}}>
                    <label for="image">Movie Poster:</label>
                    <input type="text" class="inputFields" id="image" name="imageURL" value="{{movie.imageURL}}" />
                </li>
                <li {{#if errors.rating}}class="error"{{/if}}>
                    <label for="rating">Rating:</label>
                    <input type="text" class="inputFields" id="rating" name="rating" value="{{movie.rating}}" />
                </li>
                <li {{#if errors.description}}class="error"{{/if}}>
                    <label for="description">Description:</label>
                    <textarea id="description" class="inputFields" name="description">{{movie.description}}</textarea>
                </li>
                <li id="center-btn">
                    <button id="edit-btn">Save</button>
                </li>
            </ul>
        </form>

    </div>
</section>